<!DOCTYPE html>
<html data-ng-app="PayXAuthApp">
<head>
    <title></title>
    <script src="js/angular.min.js"></script>
	<meta charset="utf-8" />
   
    <script src="js/app3.js"></script>

    <script src="js/authService.js"></script>


</head>
<body ng-controller="ProfileController">
    <form name="userForm" role="form">
        <div class="row" style="margin: 0;">
            <div class="form-group" style="width: 80%; margin: 0 auto">
                <div style="float: left; width: 50%"> <input type="radio" name="Nationality" data-ng-model="registration.Nationality" value="N" /><label>Nigerian</label> </div>
                <div style="float: left; width: 50%"> <input type="radio" name="Nationality" data-ng-model="registration.Nationality" value="F" /><label>Non - Nigerian</label> </div>
            </div>

            <div class="form-group" style="float: left; width: 48%">
                <label for="FName">Name [as shown on passport]</label>
                <div>
                    <input type="text" id="FName" name="FName" data-ng-model="registration.Name" class="form-control" required />
                </div>
            </div>
            <div class="form-group" style="float: right; width: 48%">
                <label for="B_Name">Email</label>
                <div>
                    <input type="email" id="B_Name" name="B_Name" data-ng-model="registration.Email" class="form-control" required />
                </div>

            </div>
            <div class="form-group" style="float: right; width: 48%">
                <label for="B_Desc">Phone Number</label>
                <div>
                    <input type="text" id="B_Desc" name="B_Desc" data-ng-model="registration.PhoneNumber" class="form-control" required />
                </div>


            </div>
            <div class="form-group" style="float: left; width: 48%">
                <label for="B_Addr">Address</label>
                <div>
                    <input type="text" id="B_Addr" name="B_Addr" data-ng-model="registration.Address" class="form-control" required />
                </div>
            </div>
            <div class="form-group" style="float: right; width: 48%">
                <label for="Website">BVN Number</label>
                <div>
                    <input type="text" id="Website" name="Web" data-ng-model="registration.BVN" class="form-control" />

                </div>
            </div>
            <div class="form-group" style="float: left; width: 48%">
                <label for="email">Gender</label>
                <div>
                    <select id="Cat_id" name="Cat_id" data-ng-model="registration.genda" class="form-control" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin: 0;" ng-if="registration.Nationality == 'F'">

                <div class="form-group" style="float: left; width: 32%; margin-right: 2%">
                    <label for="email">Country of Origin</label>
                    <div>
                        <select id="Cat_id" name="Cat_id" data-ng-model="registration.genda" class="form-control" required>
                            <option value="M">United state of America</option>
                            <option value="F">Canada</option>
                            <option value="F">Austraila</option>
                            <option value="F">Brazil</option>
                            <option value="F">Indian</option>
                            <option value="F">China</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="float: left; width: 32%">
                    <label for="userName">Residence permit issue date</label>
                    <div>
                        <input type="date" id="userName" name="userName" data-ng-model="registration.UserName" class="form-control" />

                    </div>
                </div>
                <div class="form-group" style="float: right; width: 32%">
                    <label for="password">residence permit expiry date</label>
                    <div>
                        <input type="date" id="password" name="password" data-ng-model="registration.Password" class="form-control" />

                    </div>
                </div>
            </div>
        </div>
        <div class="field"><span>PASSPORT INFORMATION</span></div>

        <div class="row" style="margin: 0;">
            <div class="form-group" style="float: left; width: 32%; margin-right: 2%">
                <label for="email">Passport No</label>
                <div>
                    <input type="text" id="email" name="email" data-ng-model="registration.Passport_No" class="form-control" />
                </div>
            </div>
            <div class="form-group" style="float: left; width: 32%">
                <label for="userName">Issue date</label>
                <div>
                    <input type="date" id="userName" name="userName" data-ng-model="registration.Issue_Date" class="form-control" />

                </div>
            </div>
            <div class="form-group" style="float: right; width: 32%">
                <label for="password">Expiry date</label>
                <div>
                    <input type="date" id="password" name="password" data-ng-model="registration.Expiry_Date" class="form-control" />

                </div>
            </div>
            <div class="form-group" style="float: left; width: 32%; margin-right: 2%">
                <label for="confirmPassword">Place of issue (state in Nigeria)</label>
                <div>
                    <input type="text" id="confirmPassword" name="confirmPassword" data-ng-model="registration.Place_ofissue" class="form-control" />

                </div>
            </div>
            <div class="form-group" style="float: left; width: 32%">
                <label for="Seq_Q">Date of birth</label>
                <div>
                    <input type="date" id="Seq_Q" name="Seq_Q" data-ng-model="registration.Date_Of_Birth" class="form-control" />
                </div>

            </div>

            <div class="form-group" style="float: right; width: 32%">
                <label class="control-label" for="mobile">Upload data page of passport</label>
                <div>

                    <input id="passport" name="passport" required class="form-control" data-bind="value: registration.passport" type="file" />

                </div>

            </div>

        </div>
        <div style="height:50px"></div>
        <div class="row" style="margin: 0">
            <button class="btn btn-primary" data-ng-click="SaveCon(registration)" style="float: right">Save and Continue</button>
            <button class="btn btn-primary" data-ng-click="Save(registration)" style="float: left">Save</button>
        </div>
        </div>

    </form>
</body>
</html>
